.onetip {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25%;
    width: 100%;
    height: 30%;
    /* background-color: blue; */
  }
  .img_tip {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: green;
  }
  .contentTip {
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;
  }
  .name_content {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30%;
  }

  .btn-tips {
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: 2px solid #73d905;
    color: black;
  }

  .btn-tips:hover {
    background-color: #73d905;
    color: white;
  }
  .Tip_btns {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;
  }

  .btn-tips-hide{
    border-radius: 5px;
    width: 120px;
    height: 30px;
    border: 2px solid red;
    color: black;
  }
  .btn-tips-hide:hover{
    background-color: red;
    color: white;
  }

  .buttons{
    width: 15%;
  }